{% extends "base.jinja2" %}

{% block head %}
<link rel='stylesheet' href="../static/font-awesome/css/font-awesome.min.css">
{% endblock %}

{% block content %}

   <div class="col-lg-12">
       <h1 class="page-header">About Me</h1>
   </div>

   <div class="container article-custom">
	   <div class='col-lg-8 col-md-8 col-sm-6 col-xs-12'>
	   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia, turpis sed semper pulvinar, dui orci posuere augue, ac mattis nunc ex vel diam. Suspendisse auctor massa ut urna accumsan mattis. Etiam hendrerit felis aliquam pharetra vestibulum. Nulla facilisi. Duis ultrices purus sapien, quis consequat metus sodales at. Donec a massa vel sapien euismod interdum sed at mi. Nulla facilisi. Curabitur ut sollicitudin nibh. Integer bibendum urna sit amet euismod volutpat. Curabitur mollis, ex vel pulvinar cursus, orci neque porta justo, a tempor erat ligula sit amet enim. Praesent cursus urna magna, maximus malesuada lectus facilisis vitae. In ut augue ut risus aliquet blandit et in libero. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		</p>
		<p>
		Pellentesque imperdiet blandit malesuada. Donec ut consectetur mauris. Sed commodo efficitur lacus, sed porttitor velit iaculis ut. Ut quam nisi, viverra quis maximus ac, condimentum non erat. </p>
		<ul id='about_contact'>
			<li>
				<a href='https://github.com/flegald'>
					<i class="fa fa-github fa-3x" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href='https://www.linkedin.com/in/davidflegal'>
					<i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
				</a>
			</li>
			<li>
				<a href='mailto:flegal.david@gmail.com'>
					<i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
				</a>
			</li>
			</div>

			<div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'>
				<img id='me' src='../static/images/DF.JPG'>
			</div>
		</ul>
	</div>


<script src = "https://code.jquery.com/jquery.js"></script>
<script>
   $('#home-nav').removeClass('active')
   $('#portfolio-nav').removeClass('active')
   $('#about-nav').addClass('active')
   $('#contact-nav').removeClass('active')
</script>
{% endblock %}