{% extends "base.jinja2" %}

{% block head %}
<link rel='stylesheet' href="../static/font-awesome/css/font-awesome.min.css">
{% endblock %}

{% block content %}

    <div class="col-lg-12">
       <h1 class="page-header">Contact Me</h1>
    </div>

    <div class="container article-custom article-custom contact-article">

    	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contact-item">
    		<h3>Git Hub</h3>
    		<a href='https://github.com/flegald'>
    			<i class="fa fa-github fa-5x" aria-hidden="true"></i>
    		</a>
    	</div>

    	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contact-item">
    		<h3>Linked In</h3>
    		<a href='https://www.linkedin.com/in/davidflegal'>
    			<i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i>
    		</a>
    	</div>

    	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contact-item">
    		<h3>Email</h3>
    		<a href='mailto:flegal.david@gmail.com'>
    			<i class="fa fa-envelope fa-5x" aria-hidden="true"></i>
    		</a>
    	</div>
    </div>

   <div class='footer'>&#169 2016 David Flegal
   </div>

<script src = "https://code.jquery.com/jquery.js"></script>
<script>
   $('#home-nav').removeClass('active')
   $('#portfolio-nav').removeClass('active')
   $('#about-nav').removeClass('active')
   $('#contact-nav').addClass('active')
</script>
{% endblock %}