{% extends "base.jinja2" %}

{% block head %}
	<link rel='stylesheet' href="../static/font-awesome/css/font-awesome.min.css">
{% endblock %}

{% block content %}

   <div class="col-lg-12">
       <h1 class="page-header">Decodaquote</h1>
   </div>

	<div class="container article-custom">

	  <div class='col-lg-8 col-md-8 col-sm-8 col-xs-8 project-detail-info'>
	  	<p>This is a site I have been asked to create for a local business. They sell cryptograph puzzles. The store utilizes the PayPal API. The site has yet to be published and is currently undergoing a massive style overhaul. It will be up in the coming weeks and this post will be updates along with it.</p>       
	  </div>

	  <div class='col-lg-4 col-md-4 col-sm-4 col-xs-4'>
	  	<h4>Created With:</h4>
	  	<ul class='tool-list'>
	  		<li>
	  			<img src='../static/images/tool_icons/js1_0.png'>
	  		</li>
	  		<li>
	  			<img src='../static/images/tool_icons/python.ico'>
	  		</li>
	  		<li>
	  			<img src='../static/images/tool_icons/css-icon.png'>
	  		</li>
	  		<li>
	  			<img src='../static/images/tool_icons/arborian-pyramid-framework-icon.png'>
	  		</li>
	  		<li>
	  			<img src='../static/images/tool_icons/AWS.png'>
	  		</li>
	  		<li>
	  			<img src='../static/images/tool_icons/ansible_logo_black_square.png'>
	  		</li>
	  		<li>
	  			<img src='../static/images/tool_icons/psql_feat1.png'>
	  		</li>
	  	</ul>
	  </div>

	  <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
	  	<img class='screen_cap' src='../static/images/project_shots/decodaquote/decodaquote1.png'>
	  </div>
	  <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
	  	<img class='screen_cap' src='../static/images/project_shots/decodaquote/decodaquote2.png'>
	  </div>

	 </div>
   <div class='footer'>&#169 2016 David Flegal
   </div>

	<script src = "https://code.jquery.com/jquery.js"></script>
	<script>
	   $('#home-nav').removeClass('active')
	   $('#portfolio-nav').removeClass('active')
	   $('#about-nav').removeClass('active')
	   $('#contact-nav').removeClass('active')
	</script>

{% endblock %}