{% extends "base.jinja2" %}

{% block head %}
<link href='https://fonts.googleapis.com/css?family=Kristi' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
	<div id='name' class='text-center'>
		<h1 id='name'>David Flegal</h1>
		<small><span class='white'>Web Developer</span></small>
	</div>
{# 	<div id='image' class='text-center'>
		<img id='arrow' src='../static/images/arrow.png'/>
	</div>	 #}
{% endblock %}
