html, body {
	height: 100%;
}

body {
	background-image: url('../images/background.jpg');
	background-size: 1235px 636px;
	background-position: fixed;
	background-attachment: fixed;
	font-family: 'Playfair Display SC', serif;
}

.page-top {
	height: 75px;
}

.red {
	color: #800000;
}

.white {
  color: #CCCCCC;
  font-size: 2em;
  font-family: 'Kristi', cursive;  }

#name {
	padding-top: 60px;
	font-size: 3em;
}

#arrow {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -30px;
}

.thumb {
    margin-bottom: 30px;
}

#me {
	max-height: 300px;
}

#about_contact {
	list-style: none;
}

#about_contact li {
	display: inline-block;
	padding: 10px;
}

i {
	color: #800000;
}

i:hover {
	color: #a64c4c;
}

.article-custom {
  text-align: center;
}

.contact-item {
	text-align: center;
	border-left: 1px solid #800000;
	border-right: 1px solid #800000;
}

.page-header {
  padding-top: 220px;
  font-size: 4em;
  margin-bottom: 0px;
    border-bottom: 1px solid #800000;
}

.article-custom {
  width:100%;
  background-image: url('../images/gradient.jpg');
  padding-top: 20px;
}

.port-item {
  padding-bottom: 20px;
  font-family: Arial;
  border: 1px solid #800000;
}

.contact-article {
  height: 100%;
}

.project-detail-info {
  font-size: 1.3em;
  text-align: left;
  padding-left: 10px;
}

.tool-list {
  list-style: none;
}

.tool-list li {
  display: inline-block;
  padding: 7px;
}

.tool-list li img {
  width: 75px;
}

.footer {
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  height: 30px;
  background-color: #efefef;
}

.screen_cap {
  width:75%;
  padding-bottom: 15px;
}

/*Hover items*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #800000;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

